* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: blue;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 15px;
}

.inputs{
  margin-bottom: 10px;
}

.inputs label {
  padding-left: 20px;
}

.button{
  
}

.square-grid {
  width: 960px;
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.square {
  text-align: center;
  flex: 1;
  padding: 10px;
  border: 1px solid black;
}
